* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
}
header {
  position: relative;
  display: block;
  background: rgb(0, 0, 0);
}
nav {
  flex-wrap: wrap;
  position: sticky;
  margin: 0 70px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navbar-brand {
  padding: 5px 0;
  margin: 0 16px 0 0;
  margin-right: 5rem;
  margin-left: 5rem;
  font-size: 1.25rem;
  text-decoration: none;
  flex-wrap: nowrap;
}
.logo {
  width: 24%;
}
.menu {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.menu li {
  margin-right: 12px;
  list-style: none;
}
.menu a {
  font-size: 24px;
  text-decoration: none;
  vertical-align: baseline;
  color: #fff;
}
.menu button {
  background: #ff5003;
  color: #fff !important;
  font-family: "HappyHalloween";
  border-radius: 30px;
  font-size: 18px;
  padding: 8px 20px;
}
section {
  display: block;
}
.banner-inside {
  background: url("./image/bg-img.jpeg");
  background-size: cover;
  width: 100%;
  min-height: 896px;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: -1000;
}
.bat-container {
  width: 133px;
  height: 66px;
  position: absolute;
  top: -460px;
  right: 787px;
  bottom: 0;
  margin: auto;
}
.bat {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.small-bats {
  width: 83.333333px;
  height: 36.666667px;
  right: 700px;
}
.bats-div-img {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 50%;
  display: inline-block;
}
.container {
  display: flex;
  width: 558px;
  height: 284px;
  padding: 300px 300px 0px 0px;
  float: right;
}
.banner-left {
  float: left;
  position: absolute;
  left: 0;
}
.banner-text1 {
  margin-left: 30px;
}
.banner-text1 h5 {
  font-family: "Ghostphobia";
  color: #fff;
  margin-bottom: 0;
  font-size: 25px;
}
.banner-text1 h1,
.banner-text1 h1 span {
  font-family: "Ghostphobia";
  color: #fff;
  font-size: 58px;
}
.banner-text1 h1 {
  margin-top: 0;
}
.banner-text1 button {
  background: #ff5003;
  color: #fff !important;
  font-family: "HappyHalloween";
  border-radius: 30px;
  font-size: 20px;
  padding: 8px 24px;
}
.features__section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  clear: both;
}
.features__item {
  margin: 200px 25px 40px 0px;
  width: 336px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px;
}

.features__item img {
  width: 25%;
}

.features__item__info {
  display: flex;
  font-size: 14px;
  padding: 10px;
}

.features__item__info h4 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-sec-div {
  display: flex;
  width: 100%;
  background: #000;
}
.about-container {
  display: flex;
  margin: auto;
  padding: 100px;
}
.about-left {
  float: left;
}
.about-left img {
  width: 630px;
}
.about-right {
  float: right;
  width: 600px;
}
.about-sec-div h6 {
  color: #ff5003;
  font-family: "HappyHalloween";
  margin-bottom: 0;
  font-size: 20px;
}
.about-sec-div h2 {
  color: #fff;
  font-family: "Ghostphobia";
  font-size: 45px;
  margin-top: 0;
}
.about-sec-div p {
  color: #fff;
}
.about-p2 {
  margin: 32px 0;
}
.about-btn {
  background: #ff5003;
  color: #fff !important;
  font-family: "HappyHalloween";
  border-radius: 30px;
  font-size: 20px;
  padding: 8px 24px;
}
.event-div {
  display: flex;
  width: 100%;
  background: #000 url(./image/bg-img6.png) no-repeat;
  background-position: top left;
  text-align: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.event-div button {
  background: #ff5003;
  color: #fff !important;
  font-family: "HappyHalloween";
  border-radius: 30px;
  font-size: 20px;
  padding: 8px 24px;
  margin: 3rem;
}
.event-sub {
  color: #ff5003;
  font-family: "HappyHalloween";
  margin-bottom: 0;
  font-size: 20px;
  text-transform: capitalize;
}
.event-main {
  color: #fff;
  font-family: "Ghostphobia";
  font-size: 45px;
  margin-top: 0;
}
.event__section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  clear: both;
}
.event__item {
  /* margin: 200px 25px 40px 0px; */
  width: 336px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px 120px;
}

.event__item img {
  width: 400px;
  height: 250px;
  margin-bottom: 15px;
}

.event__item__info {
  display: flex;
  font-size: 14px;
  width: 400px;
  text-align: left;
}
.event-list {
  height: 24px;
  display: inline-block;
}
.event-list li {
  list-style: none;
  font-size: 16px;
  padding-left: 0;
}
.event__item__info h4 {
  font-size: 26px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.counting-bg-div {
  background: #000 url(./image/bg-img2.png) fixed no-repeat;
  background-size: cover;
  width: 100%;
  display: grid;
  min-height: 250px;
  background-position: bottom;
  align-content: center;
}
.count__section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  clear: both;
}
.count__item {
  width: 336px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px;
}

.count__item__info {
  display: flex;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.count__item__info h2 {
  color: #fff;
  font-family: "HappyHalloween";
  font-size: 65px;
  text-shadow: #000 1px 2px 8px;
}
.count__item__info p {
  color: #fff;
  font-family: "HappyHalloween";
  font-size: 20px;
}

.team-div {
  display: flex;
  width: 100%;
  background: #000 url(./image/bg-img7.jpeg) no-repeat;
  background-position: top left;
  text-align: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 80px;
}
.team-div button {
  background: #ff5003;
  color: #fff !important;
  font-family: "HappyHalloween";
  border-radius: 30px;
  font-size: 20px;
  padding: 8px 24px;
  margin: 3rem;
}
.team-sub {
  color: #ff5003;
  font-family: "HappyHalloween";
  margin-bottom: 0;
  font-size: 20px;
  text-transform: capitalize;
}
.team-main {
  color: #fff;
  font-family: "Ghostphobia";
  font-size: 45px;
  margin-top: 0;
}
.team__section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  clear: both;
  margin-top: 3rem;
}
.team__item {
  /* width: 336px; */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  color: white;
  /* padding: 20px 120px; */
}
.team__item figure {
  width: 150px;
  height: 150px;
  display: grid;
  overflow: hidden;
  border-radius: 8px;
  margin: auto;
}
.team__item img {
  width: 150px;
  margin-right: 10px;
}

.team__item__info {
  display: flex;
  font-size: 14px;
  width: 300px;
  text-align: left;
  flex-direction: column;
  align-items: center;
}
.team__item__info h5 {
  color: #fff;
  font-family: "HappyHalloween";
  font-size: 26px;
  margin-top: 10px;
}
.team__item__info span {
  color: #ff5003;
  font-family: "HappyHalloween";
  font-size: 18px;
}
.gallery-div {
  display: flex;
  width: 100%;
  background: #000 url(./image/bg-img6.jpeg) no-repeat;
  background-position: top left;
  text-align: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.gallery-container {
  margin: 4rem 0;
}
.list-work {
  display: inline-block;
  height: 45px;
  margin-bottom: 1rem;
}
.list-work ul li {
  padding: 10px 25px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  display: inline;
  background: #f3f3f3;
  border-radius: 30px;
  margin: 0 8px;
  font-family: "HappyHalloween";
  list-style: none;
}
.list-work ul .active {
  background: #ff5003;
  color: #fff;
}
.gallery__section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  clear: both;
  margin-top: 2rem;
}
.gallery__item {
  padding: 0 15px;
}
.gallery__item figure {
  width: 330px;
  height: 250px;
  display: grid;
  overflow: hidden;
  border-radius: 8px;
  margin: auto;
}
.gallery__item img {
  width: 100%;
  height: 100%;
}
.plans-div {
  display: flex;
  width: 100%;
  background: #000 url(./image/bg-img3.jpeg) fixed no-repeat;
  background-position: top left;
  text-align: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.plans-container {
  margin: 2rem;
}
.comon-plans {
  display: inline-block;
  width: 400px;
  height: 440px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 440px;
  margin: 3rem 1rem;
}
.comon-plans::before {
  width: 100%;
  height: 500px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(20px);
  border-radius: 8px;
}
.content-in {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}
.content-in ul li {
  color: #fff;
  line-height: 25px;
  margin-bottom: 10px;
  border-bottom: dotted 1px #87878757;
  padding-bottom: 5px;
  list-style: none;
}
.content-in h4 {
  background: #ff5003;
  text-align: center;
  margin-top: 0;
  padding: 12px 0;
  font-family: "Ghostphobia";
  color: #fff;
  font-size: 35px;
}
.content-in h2 {
  color: #fff;
  font-family: "HappyHalloween";
  font-size: 70px;
}
.content-in h2 sup {
  font-size: 30px;
}
.content-in ul {
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}
.comon-btn {
  background: #ff5003;
  color: #fff !important;
  font-family: "HappyHalloween";
  border-radius: 30px;
  font-size: 20px;
  padding: 8px 24px;
  text-decoration: none;
}
.testimonial-div {
  display: inline-block;
  width: 100%;
  background: #000 url(./image/bg-img4.png) no-repeat;
  background-position: 0 50px;
}
.test-container {
  text-align: center;
  flex-direction: row;
  align-content: center;
}
.items-teti {
  width: 50%;
  margin: auto;
  text-align: center;
  border: solid 4px #333333;
  background: #000;
  padding: 20px;
}
.items-teti h5 {
  font-family: "HappyHalloween";
  line-height: 32px;
  font-size: 22px;
  text-align: left;
}
.items-teti h6 {
  color: #ff5003;
  text-align: center;
}
.items-teti p {
  text-align: center;
}
.text-white {
  color: #fff !important;
}
.text-start {
  text-align: left;
}
button.owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: inline;
  align-items: center;
  border-radius: 30px;
}
.footer-container {
  background: #000 url(./image/bg-img5.jpeg);
  background-size: cover;
  width: 100%;
  background-size: cover;
  padding: 100px 0 0 0;
  height: 450px;
  position: relative;
}

img {
  vertical-align: top;
  max-width: 100%;
  border: none;
  outline: none;
}
.footer__section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  clear: both;
}
.footer__item {
  width: 336px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px;
}

.footer__item__info {
  display: flex;
  font-size: 14px;
  padding: 10px;
  text-align: left;
  width: 440px;
}

.footer__item__info h2 {
  color: #fff;
  font-family: "HappyHalloween";
  font-size: 65px;
  text-shadow: #000 1px 2px 8px;
}
.footer__item__info p {
  color: #fff;
  font-family: "HappyHalloween";
  font-size: 20px;
}
